body{
    margin: 0;
    padding: 0;
    background-image: url("wheat.png");
    
}

#container {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 15px;
    background-color:#00ff7096;
    min-height: 55vh;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    font-family:sans-serif;
    
}

    #inputdiv{
        min-width: 90%;
        min-height:40%;
        border-radius: 10px;
        padding-top: 3px;
        padding-bottom: 10px;
        background-color: brown;
        margin-left:2% ;
        margin-right: 2%;
        background-image: url('congruent_pentagon.png');
        
        
    }   


                    #form p{
                    color:red;
                    text-align: center;
                    margin-bottom:3px;
                    font-size: 20px;
                    }

                    #form h2{
                        color: #831111e5;
                        text-align: center;
                    
                    }




                    .input{
                        display: block;
                        margin-left: 0;
                        margin-right: 0;
                        margin: auto;
                        margin-bottom: 1vh;
                        
                        
                    }

                        #number{
                            width: 40%;
                            min-width: 200px;
                            height:7vh;
                            text-align: center;
                            background-color: rgb(124, 0, 128);
                            color: white;
                            border: none;
                            outline: none;
                            border-radius: 5px;

                        }
                        #btn{
                            min-width: 20%;
                            height: 6vh;
                            background-color: green;
                            color: white;
                            border: none;
                            outline: none;
                            border-radius: 5px;
                        }
                        #refresh{ 
                            min-width: 20%;
                            visibility: hidden;
                            height: 6vh;
                            background-color: red;
                            color: white;
                            border: none;
                            outline: none;
                            border-radius: 5px;
                            
                        }
#outputdiv{
    min-width: 90%;
    min-height:55vh;
    border-radius: 10px;
    background-color: brown;
    margin-left:2% ;
    margin-right: 2%;
    margin-top: 1%;
    padding-top:1%;
    padding-bottom: 1%;
    background-image: url("weather.png");
    color:rgb(38, 0, 128);
    
}


            #outputdiv h3{
                text-align: center;
                padding-top: 5px;
                color: red;
                margin-bottom: 10px;
            
            }

            #outputdiv > h3 b{
                color: rgb(94, 8, 86);
            }
            
            #outputdiv > p{
                margin: 0%;
                text-align: center;
            }



